Repository tiangolo/uvicorn-gunicorn-starlette-docker, pull requests merged in 2024-03, with the labels that each got.

#155 🔥 Remove Alpine support
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  README.md
  docker-images/python3.7-alpine3.8.dockerfile
  docker-images/python3.8-alpine3.10.dockerfile
  docker-images/python3.9-alpine3.14.dockerfile
  pyproject.toml
  scripts/process_all.py
Labels: refactor

#156 ✨ Add support for multiarch builds, including ARM (e.g. Mac M1)
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  scripts/build-push-all.sh
  scripts/build-push.sh
  scripts/build.sh
  scripts/docker-login.sh
  scripts/test-all.sh
  scripts/test.sh
Labels: feature

#157 📝 Update test badge in `README.md`
  README.md
Labels: docs

#158 🔧 Update `latest-changes.yml`
  .github/workflows/latest-changes.yml
Labels: internal

#167 🔧 Add GitHub templates for discussions and issues, and security policy
  .github/DISCUSSION_TEMPLATE/questions.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/privileged.yml
  SECURITY.md
Labels: internal
